.itemDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
}
.itemDetails img {
  width: 300px;
  margin-right: 20px;
}

.cen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
